@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");

@import "tailwindcss";

@theme {
  --breakpoint-ph: 360px;
  --breakpoint-dt: 1440px;

  --color-white: #FFFFFF;
  --color-grey01: #f8faff;
  --color-grey02: #F5F5F5;
  --color-grey03: #F6F6F6;
  --color-grey04: #EEEEEE;
  --color-grey05: #D9D9D9;
  --color-grey06: #CECECE;
  --color-grey07: #C4C4C4;
  --color-grey08: #AEB3BB;
  --color-darkgrey01: #8D8D8D;
  --color-darkgrey02: #727272;
  --color-darkgrey03: #666B73;
  --color-darkgrey04: #4B4B4B;
  --color-black: #000000;
  --color-purple_main: #7E37F9;
  --color-purple01: #9769E1;
  --color-purple02: #DAC2FF;
  --color-lightpurple01: #EFE5FF;
  --color-lightpink01: #FFEAE5;
  --color-lightpurple02: #F0F0FF; 
  --color-pink01: #FFEAE5;
  --color-pink02: #FF9393;
  
  --color-grad1-1: #0029F7;
  --color-grad1-2: #EFE5FF;

  --color-grad2-1: #E68BFF;
  --color-grad2-2: #C58EFF;
  --color-grad2-3: #3DD8FF;

  --color-grad3-1: #7E37F9;
  --color-grad3-2: #DECBFF;
  --color-grad3-3: #4BB4FE;
}

@layer utilities {
  /* 기본: 그라데이션 보더 (두께는 변수로) */
  .border-gradient {
    --gb-w: 5px; /* 기본 두께: 10px (필요 시 클래스나 임의 프로퍼티로 덮어쓰기) */
    border-style: solid;
    border-color: transparent;                 /* border-image 쓰려면 transparent 권장 */
    border-width: var(--gb-w);
    border-image: linear-gradient(
      135deg,
      var(--color-grad3-1),
      var(--color-grad3-2),
      var(--color-grad3-3)
    ) 1;
  }
}

/* 스크롤바 숨기기 유틸리티 */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
body { font-family: "SUIT", sans-serif; }